.sliderBob .track {
  -fx-background-color: #d4a25d;
}

.sliderLady .track {
  -fx-background-color: #e37034;
}

.sliderDesconfiado .track {
  -fx-background-color: #c7642c;
}

.sliderGuara .track {
  -fx-background-color: #4a3b34;
}

.sliderBento .track {
  -fx-background-color: linear-gradient(to right, #1e1318, #ba8443);
}

.sliderDorinha .track {
  -fx-background-color: linear-gradient(to right, #2a1923, #e3e1e1);
}

.sliderGulosa .track {
  -fx-background-color: #a59b9c;
}

.sliderChocolate .track {
  -fx-background-color: #876246;
}